.landing-page {
    text-align: center;
    background-blend-mode: overlay;
    height: 100vh;
    color: #fff;
    box-sizing: border-box;

    // MOBILE
    &.is-mobile {
        display: flex;
        flex-direction: column;
        padding: 15% 3rem 10%;
        text-align: left;
        position: relative;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('./assets/images/slide-2-min.png');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            background-position: center;
            opacity: .1;
        }
    }
}

.announcement {
    .is-mobile & {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 5rem 0 1rem;
    }
}

.title {
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 3rem;

    .is-mobile & {
        font-size: 1.8rem;
    }

    &--large {
        font-size: 4rem;

        .is-mobile & {
            font-size: 3.8rem;
        }
    }
}

.input-field {
    background-color: transparent;
    border: none;
    width: 40rem;
    border-bottom: 3px solid rgba(255,255,255, 0.7)
}

.item {
    left: 17%;
    right: 17%;
    position: absolute;
    opacity: 0;
    z-index: 10;

    .is-mobile & {
        position: static;
    }
}

.item-1 {
    height: 40px;
    top: 13%;
}

.item-2 {
    top: 38%;
    text-align: left;
}

.item-3 {
    top: 55%;
}

.item-4 {
    top: 85%;

    .is-mobile & {
        margin-top: auto;
    }
}

$items: 1,2,3,4;
@each $i in $items {
    .item-#{$i} {
        animation-name: contentAppear;
        animation-delay: $i*300ms;
        animation-fill-mode: forwards;
        animation-duration: 600ms;
        animation-iteration-count: 1;
    }
}

@keyframes contentAppear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}