$indexes: 1,2,3,4,5,6,7,8,9,10,11,12;

.landing-page {
    text-align: center;
    background: linear-gradient(180deg, #4F4365 0%, #313A61 100%);
    background-blend-mode: overlay;
    height: 100vh;

    color: #fff;
}

.wrap {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        background-color: rgba(255,255,255, .1);
        width: 1px;
        right: 0;
        top: 0;

        animation: lines 400ms ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @each $index in $indexes {
        &:nth-child(#{$index}){
            .img-wrapper {
                animation-delay: #{$index*50}ms;
            }

            &:after {
                animation-delay: #{$index*50}ms;
            }
        }
    }
}
.img-wrapper {
    display: block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;


    .slide-in & {
        
        transform-origin: right;
        animation-name: imgOut;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .slide-out & {
        transform-origin: left;
        animation-name: imgIn;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
    }
}
.item {
    left: 30%;
    position: absolute;
    opacity: 0;
    transform: translateY(-50%);
    z-index: 10;
    min-height: 60px;
}
.item-1 {
    height: 40px;
    top: 20%;
}

.item-2 {
    top: 50%;
    text-align: left;
}

.item-3 {
    top: 80%;
}

$items: 1,2,3;
@each $i in $items {
    .item-#{$i} {
        animation-name: contentAppear;
        animation-delay: $i*300ms;
        animation-fill-mode: forwards;
        animation-duration: 600ms;
        animation-iteration-count: 1;
    }
}
// .splitted-image {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.slider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
}

@keyframes lines {
    from {
        bottom: 100%;
    }

    to {
        bottom: 0;
    }
}

@keyframes imgIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes imgOut {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);

    }
}

@keyframes contentAppear {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}